apiVersion: v1
kind: Service
metadata:
  name: {{ include "bedindustries-microservice.fullname" . }}
  labels:
    {{- include "bedindustries-microservice.labels" . | nindent 4 }}
spec:
  type: ClusterIP
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "bedindustries-microservice.selectorLabels" . | nindent 4 }}
